<a href="https://colab.research.google.com/github/wmok12/Thesis-research-minimumwage-employment/blob/main/Data_Organizing_and_Cleaning_schools_industry.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Packages and loading data

In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
pip install ipumspy

In [ ]:
from ipumspy import readers, ddi
# Loading data
ddi_codebook = readers.read_ipums_ddi("/content/drive/MyDrive/Thesis/Voorbereiding/cps_00008.xml")
raw_ipums_df_codes = readers.read_microdata(ddi_codebook, "/content/drive/MyDrive/Thesis/Voorbereiding/cps_00008.csv.gz")

In [ ]:
import ipumspy
print('ipumspy', ipumspy.__version__)

# Explore data

In [ ]:
print(raw_ipums_df_codes.head())

In [ ]:
raw_ipums_df = raw_ipums_df_codes.copy()

In [ ]:
# Checking features
unique_values = raw_ipums_df["RACE"].unique()
print(unique_values)

value_counts = raw_ipums_df["RACE"].value_counts()
print(value_counts)

# Coding variable into words in stead of standard coding from IPUMS CPS

In [ ]:
# Mapping, transforming coding into words
mappings = {
    'SEX': {1: 'Male', 2: 'Female', 9: 'NIU'},
    'EMPSTAT': {10: 'Employed', 21: 'Unemployed', 36: 'Unemployed', 32: 'Unemployed', 34: 'Unemployed', 0: 'Others', 12: 'Employed', 1: 'Others', 22: 'Unemployed'},
    'LABFORCE': {0: 'Others', 1: 'Not labor force', 2: 'In labor force'},
    'IND': {770: 'Construction', 7860: 'Elementary and secondary schools'},
    'WKSTAT': {11: 'Full-time', 50: 'Unemployed, seeking for part-time', 99: 'Others', 12: 'Full-time', 41: 'Part-time', 21: 'Full-time', 22: 'Part-time', 60: 'Unemployed, seeking for part-time', 42: 'Part-time', 13 :'Full-time', 15: 'Part-time', 14: 'Part-time'},
    'EDUC': {91: 'AC degree, occupational program', 73: 'High school diploma', 92: 'AC degree, academic program', 111: 'Bachelor\'s degree', 50: 'Grade 10', 60: 'Grade 11', 20: 'Grades 5 or 6', 81: 'Some college', 40: 'Grade 9', 1: 'No schooling', 30: 'Grades 7 or 8', 10: 'Grades 1 t/m 4', 123: 'Master/s degree', 125: 'Doctorate degree', 124: 'Professional school degree', 71: 'Grade 12', 2: 'No schooling'},
    'STATEFIP': {12: 'Florida'},
    'CLASSWKR': {22: 'Work for wages', 0: 'Others', 13: 'Self-employed', 25: 'Work for wages', 23: 'Work for wages', 28: 'Work for wages', 27:'Work for wages', 14: 'Self-employed', 26: 'Work for wages', 29: 'Others'},
    'MARST': {6: 'Never married', 1: 'Married', 5: 'Others', 4:'Others', 3: 'Others', 2: 'Married'},
    'RACE': {100: 'White', 200: 'BAME', 651: 'BAME', 300: 'Others', 802: 'Others', 805: 'Others', 801: 'Others', 652: 'Others', 810: 'Others', 803: 'Others', 804: 'Others', 806: 'Others'}
}

# Inserting mapping to the dataframe
for column, mapping in mappings.items():
    if column in raw_ipums_df.columns:
        raw_ipums_df[column] = raw_ipums_df[column].map(mapping)

# Checking the dataframe
print(raw_ipums_df.head())

# Filter on state and industry

In [ ]:
# Filter on STATEFIP - Florida (12)

flt_ipums_df = raw_ipums_df[raw_ipums_df["STATEFIP"] == 'Florida']

value_counts = flt_ipums_df["STATEFIP"].value_counts()
print(value_counts)

In [ ]:
# Filter on IND - Construction industry (770)

flt_ipums_df = flt_ipums_df[flt_ipums_df["IND"] == 'Elementary and secondary schools']

value_counts = flt_ipums_df["IND"].value_counts()
print(value_counts)

# Removing unnecessary columns

In [ ]:
# Remove IND - STATEFIP - SERIAL (they are not needed)

flt_ipums_df = flt_ipums_df.drop(columns=["IND", "STATEFIP", "SERIAL", "HOURWAGE", 'UHRSWORK1'])
print(flt_ipums_df.head())

# Adding minimumwage to the dataset

In [ ]:
# Adding minimumwage

#
min_wage_data = {
    "YEAR": [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022],
    "MINIMUM WAGE": [7.25, 7.25, 7.67, 7.79, 7.93, 8.05, 8.05, 8.10, 8.25, 8.46, 8.56, 10.00, 10.00]
}

min_wage_df = pd.DataFrame(min_wage_data)

# Adding the minimum wage to the excisting dataFrame
ipums_df = pd.merge(flt_ipums_df, min_wage_df, on="YEAR", how="left")

# Move the 'MINIMUM_WAGE' to the end
minimum_wage_col = ipums_df.pop("MINIMUM WAGE")
ipums_df.insert(len(ipums_df.columns), "MINIMUM WAGE", minimum_wage_col)

# Checking the results
print(ipums_df)

# Check
unique_values = ipums_df[["YEAR", "MINIMUM WAGE"]].drop_duplicates()

# Print the unique value per year
for index, row in unique_values.iterrows():
    print(f"YEAR {row['YEAR']} = {row['MINIMUM WAGE']}")

In [ ]:
# Checking features
unique_values = ipums_df["CLASSWKR"].unique()
print(unique_values)

value_counts = ipums_df["CLASSWKR"].value_counts()
print(value_counts)

# Saving it to csv

In [ ]:
import pandas as pd

df = pd.DataFrame(ipums_df)

df.to_csv('/content/drive/MyDrive/Thesis/Voorbereiding/dataset_cps_Elementary and secondary schools.csv', index=False)

# Cleaning outliers

In [ ]:
# Data loading
dataset = pd.read_csv('/content/drive/MyDrive/Thesis/Voorbereiding/dataset_cps_Elementary and secondary schools.csv')
print(dataset.head())

In [ ]:
# Remove outliers based on Z-score between -3 and 3

numerical_features_outliers = ['AGE']

# Identify outliers using Z-score
z_scores = stats.zscore(dataset[numerical_features_outliers])
outliers = (abs(z_scores) > 3).any(axis=1)

print("Number of outliers:", outliers.sum())

cleaned_dataset= dataset[~outliers]

# Print the cleaned dataset shape for verification
print("Original dataset shape:", dataset.shape)
print("Cleaned dataset shape:", cleaned_dataset.shape)

# Print the cleaned dataset's descriptive statistics
print(cleaned_dataset.describe())

In [ ]:
cleaned_dataset = cleaned_dataset[cleaned_dataset['CLASSWKR'] != 'Others']

In [ ]:
df = pd.DataFrame(cleaned_dataset)

df.to_csv('/content/drive/MyDrive/Thesis/Voorbereiding/cleaned_dataset_cps_Elementary and secondary schools.csv', index=False)